body,
html {
    margin: 0;
    padding: 0;
}

.top-menu {
    width: 100%;
    height: 48px;
    background-color: rgb(18, 18, 18);
}

.logo-imdb {
    float: left;
    margin-top: 7px;
    margin-left: 120px;
}

.menu-logo {
    float: left;
    margin-top: 17px;
    margin-left: 5px;
}

.all {
    float: left;
    margin-left: 60px;
}

.text-menu {
    margin-top: 13px;
    float: left;
}

.search-logo {
    float: left;
}

.imdbpro {
    float: left;
    margin-top: 1px;
    margin-left: 20px;
    color: white;
    border: 1px solid rgb(18, 18, 18);
}

.imdbpro:hover {
    border: 1px solid white;
}

.watchlist {
    float: left;
    margin-bottom: 18px;
    margin-left: 25px;
    position: relative;
    color: white;
    border: 1px solid rgb(18, 18, 18);
}

.watchlist:hover {
    border: 1px solid white;
}

.sign {
    float: left;
    margin-bottom: 18px;
    margin-left: 25px;
    color: white;
    border: 1px solid rgb(18, 18, 18);
}

.sign:hover {
    border: 1px solid white;
}

.lang {
    margin-bottom: 18px;
    margin-left: 25px;
    background-color: rgb(31, 29, 29);
    color: white;
}

.before {
    float: left;
    position: relative;
    margin-left: 125px;
}

.upnext {
    float: left;
    position: relative;
    margin-top: 50px;
}

.browse b:hover {
    color: rgb(243, 190, 21);
}

.tv:hover {
    text-decoration: underline;
}

.high:hover {
    text-decoration: underline;
}

.get:hover {
    text-decoration: underline;
}

.from b:hover {
    color: rgb(243, 190, 21);
}

.into b {
    position: relative;
    left: 14px;
    top: 7px;
}

.into b:hover {
    text-decoration: underline;
}

.fan b:hover {
    color: rgb(243, 190, 21);
}

.watch {
    border: 2px solid white;
}

.most {
    border: 2px solid white;
}

.box b:hover {
    color: rgb(243, 190, 21);
}

.coming b:hover {
    color: rgb(243, 190, 21);
}

@media only screen and (max-width:300px) {
    body html div {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}